// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  color: blue;
  text-align: center;
}

.text {
  font-size: 4rem;
  text-align: center;
}
